/** 
Style principale 
**/

/**
 * Sommaire
 * 1.0 - Fix bug foundation
 * 1.0 - Fix bug foundation
 * 2.0 - modification couleur foundation
 * 3.0 - main 
 * 4.0 - vue tous les articles
 * 5.0 - vue d'un article
 * 6.0 - responsive
 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Fix bug foundation
 * ----------------------------------------------------------------------------
 */
textarea{
	height: auto;
}

/**
 * 2.0  modification couleur foundation
 * ----------------------------------------------------------------------------
 */
body{
	background-color: #efefef;
}

.top-bar,.top-bar.expanded .title-area
{
	background-color: white;
	color:#ddd;
	border-bottom:2px solid #ddd;
}

.top-bar .toggle-topbar.menu-icon a,.top-bar .name h1 a
{
	color:#f90;
}


.top-bar .toggle-topbar.menu-icon a::after{
-webkit-box-shadow: 0 10px 0 1px #f90, 0 16px 0 1px #f90, 0 22px 0 1px #f90;
box-shadow: 0 10px 0 1px #f90, 0 16px 0 1px #f90, 0 22px 0 1px #f90;
}

.top-bar-section ul li > a, .top-bar-section li:not(.has-form) a:not(.button),.top-bar-section li:not(.has-form) a:not(.button){
	border-top:2px solid #fff;
	font-weight: 200;
	background: white;
	border-bottom:2px solid #ddd;
	border-top:2px solid #fff;
	line-height: 41px;
	color:#888;
}

.top-bar-section ul li > a:hover, .top-bar-section li:not(.has-form) a:not(.button):hover,.top-bar-section li:not(.has-form) a:not(.button):hover{
	color:#f90;
	background: white;
	border-top:2px solid #f90;

}
h1, h2, h3, h4, h5, h6 {
font-family: "Proxima Nova","proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 200;
color: #333;
}

.panel{
	background: white;
	border: none;
}

.panel h1{
		color:#f90;
}

/**
 * 3.0  modification couleur foundation
 * ----------------------------------------------------------------------------
 */

 #titleRow
 {
 	background-color:#f90;
 	padding-top: 25px;
 	margin-bottom: 10px;
 }
  #titleRow h1{
  	color:white;
  	font-size:2em;
  }

/**
 * 4.0 vue tous les articles
 * ----------------------------------------------------------------------------
 */

 /** plugin masonrt **/
.masonry-brick {
	max-width: 440px; 
	margin-right:10px;
	border:1px solid #ccc;
}
/*
.masonry-brick:nth-child(3n+4){
	max-width:100%;
	background: red;
}*/

#masonryContainer {
	margin: 0 auto;  

}  

#previousArticle  a:hover
{
	//background-color: #f90;
	border: 1px solid #f90;
	
}

#previousArticle article .details p{
	margin-bottom: 8px;
	color:#777;
}

/**
 * 5.0 Article
 * ----------------------------------------------------------------------------
 */

 #article{
 	margin-top: 20px;
 }


/**
 * 4.0 responsive
 * ----------------------------------------------------------------------------
 */

@media only screen and (max-width: 64.063em) {
	.masonry-brick {
		max-width: 290px; 
	}
 }
 @media only screen and (max-width: 40.063em) {
	.masonry-brick {
		max-width:100%;
		margin-right: 0;
	}
	#masonryContainer{
		width:100% !important;
	}
}